@charset "utf-8";

:root {
    --primary-color: #24b4d7;
    --second-color: #fff;
    --opacity-color: rgba(255,255,255,.4);
    --radius: 5px;
    --width-m: 1200px;
    --width-s: 1000px;
}

*{
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
}

img {
    vertical-align: bottom;
}

/* helper */

.h-container-m {
    max-width: var(--width-m);
}

.h-container-s {
    max-width: var(--width-s);
}

.h-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-img-resp {
    max-width: 100%;
    height: auto;
}

.h-row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.h-gradient-stripe {
    background-image: linear-gradient(
        -45deg,
        var(--opacity-color) 0%,
        var(--opacity-color) 25%,
        transparent 26%,
        transparent 50%,
        var(--opacity-color) 51%,
        var(--opacity-color) 75%,
        transparent 76%,
        transparent 100%
    );
    background-size: 7px 7px;
}


/* animation */

.ani-fade {
    opacity: 0;
    animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.ani-delay-5 {
    animation-delay: 5s;
}

.ani-delay-10 {
    animation-delay: 10s;
}

.ani-delay-15 {
    animation-delay: 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

.color-change {
    animation-name: color-change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

@keyframes color-change {
    0%{
        color: var(--second-color);
    }
    5%{
        color: var(--primary-color);
    }
    50%{
        color: var(--primary-color);
    }
    55%{
        color: var(--second-color);
    }
    100%{
        color: var(--second-color);
    }
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
}

.header-fixed {
    z-index: 10;
    position: fixed;
    width: 100%;
}

.header-logo, .header-nav, .header-menu {
    padding: .5rem .7rem;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-item {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-closeWrap {
    display: none;
}

.header-menu {
    display: none;
}

.header-active {
    background-color: rgba(255,255,255,.5);
}

.header-active .header-img-logo {
    width: 170px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .header-menu {
        display: block;
    }

    .header-btn {
        background-color: transparent;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        font-size: 1.2rem;
        padding: .5rem .7rem;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-closeWrap {
        display: block;
        position: absolute;
        top: .7rem;
        right: .5rem;
    }

    .nav-close {
        background-color: transparent;
        color: rgba(255,255,255,.5);
        border: none;
        font-size: 2rem;
    }

    .nav-ul {
        flex-direction: column;
    }

    .nav-item {
        display: block;
        color: var(--second-color);
        font-size: 2rem;
        padding: .5rem;
    }
}

/* banner */

.banner {
    color: var(--primary-color);
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-header {
    position: relative;
    z-index: 2;
    /* background-color: rgba(255,255,255,.5); */
    padding: 5rem;
    text-align: center;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.banner-subtitle {
    font-size: 2rem;
    font-weight: bold;
}

.banner-text {
    font-size: 2rem;
}

.banner-body {
    position: absolute;
    width: 100%;
    top: 0;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .banner, .banner-img {
        aspect-ratio: 3 / 4;
    }

    .banner-header {
        padding: 5vw 7vw;
    }

    .banner-title {
        font-size: 8vw;
    }

    .banner-subtitle {
        font-size: 5vw;
    }

    .banner-text {
        font-size: 4vw;
    }
}

/* section */

.section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
}

.section-text {
    /* font-size: 1.2rem; */
    line-height: 1.7;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-btn {
    display: inline-block;
    font-size: 1.5rem;
    padding: .8rem 1.2rem; 
    border-radius: var(--radius);
    text-decoration: none;
    transition-duration: .3s;
}

.section-btn:hover {
    opacity: .8;
}

.section-btn-primary {
    background-color: var(--primary-color);
    color: var(--second-color);
}

.section-btn-light {
    background-color: var(--second-color);
    color: var(--primary-color);
}

.section-grid {
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/* section-info */

.section-info .section-container {
    display: flex;
    flex-wrap: wrap;
}

.section-info .section-head {
    width: 60%;
}

.section-info .section-body {
    width: 40%;
}

.section-info .section-foot {
    width: 100%;
}

.section-info .section-title {
    color: var(--primary-color);
}

.section-img-student {
    position: relative;
    clip-path: polygon(20% 0, 100% 0, 80% 70%, 0 70%);
    transform: scale(1.1);
    transform-origin: left top;
    z-index: 2;
}

.section-img-discuss {
    clip-path: polygon(50% 0, 100% 0, 65% 90%, 15% 90%);
    transform: scale(2);
    transform-origin: right top;
}

.section-info .section-foot {
    width: 100%;
}

.section-foot {
    text-align: center;
}

/* section-subject */

.section-subject {
    background-color: var(--primary-color);
}

.section-subject .section-head {
    text-align: center;
    margin-bottom: 4rem;
}

.section-subject .section-title {
    display: inline-block;
    padding: .5em 1em;
    background-color: var(--second-color);
    color: var(--primary-color);
}

.section-subtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-underline::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgba(0, 0, 0, .7);
    width: 50px;
    margin: .5em auto;
}

.section-item {
    margin-bottom: 3rem;
}

.card {
    position: relative;
    background-color: var(--second-color);
    border-radius: 10px;
    overflow: hidden;
}

.card-img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card-tag {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    padding: .5rem 1rem;
    color: var(--second-color);
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
}

.card-text {
    color: #aaa;
    line-height: 1.5;
}

.card-title, .card-text {
    margin: 1.5rem 1.5rem 2rem;
}

/* section-result */

.section-result .section-head {
    text-align: center;
    margin-bottom: 4rem;
}

/* .section-result .section-body {
    margin-bottom: 3rem;
} */

/* .result-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
} */

.result {
    border: 1px solid transparent;
    /* height: 250px; */
    text-align: center;
    padding: 2rem 2rem 2.5rem;
    line-height: 1.5;
}

.result-shadow {
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.result-num {
    color: var(--primary-color);
    font-size: 50px;
}

.result-text {
    color: #aaa;
}

.result-table {
    /* border: 1px solid #ddd; */
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.tableWrap {
    overflow: auto;
}

.result-table th {
    font-weight: bold;
}

.result-table th, .result-table td {
    line-height: 1.5;
}

.table-nowrap th, .table-nowrap td {
    white-space: nowrap;
}

.table-stripe thead tr {
    background-color: #eee;
}

.table-stripe tbody tr:nth-child(even) {
    background-color: #eee;
}

.table-border th, .table-border td {
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.2rem;
}

.table-hover tbody tr {
    transition-duration: .3s;
}

.table-hover tbody tr:hover {
    background-color: #ceebf2;
}

.h-text-center {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .section-title {
        font-size: 5vw;
    }

    .section-btn {
        font-size: 4vw;
        padding: 2vw 5vw;
    }

    .section-info .section-container {
        flex-direction: column;
    }

    .section-info .section-head, .section-info .section-body {
        width: auto;
    }

    .section-img-student, .section-img-discuss {
        clip-path: none;
        transform:scale(1);
        margin-bottom: 1.5rem;
    }

    .section-subject .section-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-subject .section-head, .section-result .section-head {
        margin-bottom: 2rem;
    }

    .section-item {
        margin-bottom: 2rem;
    }

    .result {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .result-table {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .section-subject .section-grid, .section-result .section-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-btn {
        font-size: 6vw;
        padding: 3vw 5vw;
    }

    .section-title {
        font-size: 5.5vw;
    }
}

/* footer */

.footer {
    background-color: #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.footer-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
}

.footer-text {
    font-size: .9rem;
    color: rgba(255,255,255,.5);
}

.aside {
    position: fixed;
    bottom: 300px;
    margin-left: calc(var(--width-m) + 30px);
}

/* social */

.social {
    display: block;
    padding: 1rem .7rem;
    color: #fff;
}

.social-ig {
    background-image: linear-gradient(45deg, #F9D401, #F00817, #7E39AE);

}

.social-fb {
    background-color: #0866FF;
}

.social-x {
    background-color: #000;
}

.social-up {
    color: rgba(0, 0, 0, .4);
}
